/**
 * Module dependencies
 */

@require './variables'
@require './mixins'

/**
 * Apply `button` default styles.
 */

{'[class^=' + button--selector-prefix + ']'}
  @extend $button--generic

button--constructor('default',     button--default-color,     button--default-bg,     button--default-border-color)
button--constructor('transparent', button--transparent-color, button--transparent-bg, button--transparent-border-color)
button--constructor('primary',     button--primary-color,     button--primary-bg,     button--primary-border-color)
button--constructor('warning',     button--warning-color,     button--warning-bg,     button--warning-border-color)
button--constructor('danger',      button--danger-color,      button--danger-bg,      button--danger-border-color)
button--constructor('success',     button--success-color,     button--success-bg,     button--success-border-color)
