/**
 * Expose `button` variables.
 */

button--font-size   ?= font-size--base
button--font-family ?= inherit
button--font-weight ?= 400
button--line-height ?= line-height--base

button--padding-vertical   ?= padding--base-vertical
button--padding-horizontal ?= padding--base-horizontal

button--border-radius   ?= 3px

button--selector-prefix ?= "button"
button--selector-hover  ?= "hover"
button--selector-active ?= "active"

/**
 * Button type variables
 *
 * Types:
 *
 *   - default
 *   - transparent
 *   - primary
 *   - warning
 *   - danger
 *   - success
 *
 */

button--default-color            ?= #656
button--default-bg               ?= #fff
button--default-border-color     ?= #777

button--transparent-color        ?= #656
button--transparent-bg           ?= transparent
button--transparent-border-color ?= transparent

button--primary-color            ?= #fff
button--primary-bg               ?= colors--blue
button--primary-border-color     ?= darken(button--primary-bg, 10%)

button--warning-color            ?= #fff
button--warning-bg               ?= colors--orange
button--warning-border-color     ?= darken(button--warning-bg, 10%)

button--danger-color             ?= #fff
button--danger-bg                ?= colors--red
button--danger-border-color      ?= darken(button--danger-bg, 10%)

button--success-color            ?= #fff
button--success-bg               ?= colors--green
button--success-border-color     ?= darken(button--success-bg, 10%)
