/**
 * Module dependencies
 */

@require 'shoelace-ui-colors'
@require 'shoelace-ui-font-size'
@require 'shoelace-ui-line-height'
@require 'shoelace-ui-padding'

/**
 * Expose `button` variables.
 */

button--font-size   ?= font-size--base
button--font-family ?= inherit
button--font-weight ?= 400
button--line-height ?= line-height--base

button--padding-y ?= padding--base
button--padding-x ?= padding--extra-large

button--border-radius   ?= 5px

button--selector-prefix ?= "button"
button--selector-hover  ?= "hover"
button--selector-active ?= "active"

button--apply-generic-selector-prefix ?= true
button--placeholders-only ?= false

/**
 * Button type variables
 *
 * Types:
 *
 *   - default
 *   - transparent
 *   - primary
 *   - warning
 *   - danger
 *   - success
 *
 */

button--apply-all         ?= true
button--apply-default     ?= button--apply-all isnt false
button--apply-transparent ?= button--apply-all isnt false
button--apply-primary     ?= button--apply-all isnt false
button--apply-warning     ?= button--apply-all isnt false
button--apply-danger      ?= button--apply-all isnt false
button--apply-success     ?= button--apply-all isnt false

button--default-color            ?= #656
button--default-bg               ?= #eaeaea
button--default-border-color     ?= #aaa

button--transparent-color        ?= #656
button--transparent-bg           ?= transparent
button--transparent-border-color ?= transparent

button--primary-color            ?= #fff
button--primary-bg               ?= colors--blue
button--primary-border-color     ?= darken(button--primary-bg, 10%)

button--warning-color            ?= #fff
button--warning-bg               ?= colors--orange
button--warning-border-color     ?= darken(button--warning-bg, 10%)

button--danger-color             ?= #fff
button--danger-bg                ?= colors--red
button--danger-border-color      ?= darken(button--danger-bg, 10%)

button--success-color            ?= #fff
button--success-bg               ?= colors--green
button--success-border-color     ?= darken(button--success-bg, 10%)
